{
    "presets": [
        "@babel/env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "react-css-modules",
            {
                "autoResolveMultipleImports": true,
                "filetypes": {
                    ".scss": {
                        "syntax": "postcss-scss"
                    }
                },
                "generateScopedName": "[local]--[hash:base64:8]"
            }
        ]
    ]
}